<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<% if @articles.empty? %>
    <p class="alert alert-info">За съжалание в блога няма публикувани статии все още!</p>
<% else %>
    <% @articles.each do |article| %>
        <h2><%= article.title %></h2>
        <p><%= article.text %></p>
    <% end %>
<% end %>
