<h4>Tags:</h4>
<div class="tags">
    <% @tags.each do |tag| %>
        <button type="button" class="btn btn-default" onclick="show_artciles_for_tag(<%= tag.id %>)"><%= tag.name %></button>
    <% end unless @tags.nil? %>
</div>

<script>
    function show_artciles_for_tag(tag_id){
        location.href = '/articles?tag=' + tag_id
    }
</script>