<h2 class="page-header">Забравена парола</h2>

<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<form method="post" action="/users/forgotten_password">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <label>Кой е любимия филм?</label>
    <input type="text" class="form-control" name="secret_answer" placeholder="Парола" required>
  </div>
  <button type="submit" class="btn btn-default right">Възстанови парола</button>
</form>