<h2 class="page-header">Вход</h2>

<% if flash[:success] %>
    <p class="alert alert-success"><%= flash[:success] %></p>
<% end %>

<% if flash[:error] %>
    <p class="alert alert-danger"><%= flash[:error] %></p>
<% end %>

<form method="post" action="/users/login">
  <div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" placeholder="E-mail" required>
  </div>
  <div class="form-group">
    <label>Парола:</label>
    <input type="password" class="form-control" name="password" placeholder="Парола" required>
  </div>
  <button type="submit" class="btn btn-default">Влез</button>
</form>